body
{

}
#elso {
    float: left;
    height: auto;
    width: auto;
    margin: 0px;
}
#hatter 
{
    height: 300px;
    width: 300px;
    padding: 0px;
    margin: auto 0px;
    border: none;
}
.bal
{
    padding: 15px;
    background-color: grey;
    margin-right: 79%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: solid 2px dimgray;
    height: auto;
    width: 270px;
}
.jobb
{
    float:right;
    text-align:left;
    width:50%;
}
.golyo
{
    height:50px;
    width:50px;
    float:right;

}
.golyoelso
{
    height: 5%;
    width: 5%;
    margin-left: 34%;
}
.golyoketto
{
    height:5%;
    width:5%;
}